[submodule "ProductCatalog"]
	path = ProductCatalog
	url = https://github.com/ajz007/productscatalog.git
[submodule "CartOrder"]
	path = CartOrder
	url = https://github.com/ajz007/CartOrder.git
[submodule "UserAuth"]
	path = UserAuth
	url = https://github.com/ajz007/UserAuth.git
